/.dropbox.attr
/doc/wish_list.org
/doc/day2.org
/README.org
/notes.org
/Makefile
/doc/day1.org
/build
/_build/doctrees/doc/day1.doctree
/_build/doctrees/doc/day2.doctree
/_build/doctrees/environment.pickle
/conf.py
/_build/doctrees/index.doctree
